
    {{$recent_art_text := .Site.Params.i18n.blog.newest }}
    {{ range .Data.Pages }}
        {{if eq .Type "index" }}
        <div class="index-content post">
		{{ .Content }}
        </div>
        {{end}}
    {{ end }}

    {{ if not ($.Scratch.Get "paginatedSections") }}
        {{ if .Site.Params.paginatedsections }}
            {{ $.Scratch.Set "paginatedSections" .Site.Params.paginatedsections }}
        {{ else }}
            {{ $.Scratch.Set "paginatedSections" "blog" }}
        {{ end }}
    {{ end }}

    {{ $list := where .Site.RegularPages "Section" "blog" }}
    {{ $list := first 3 $list }}
    {{ $paginator := .Paginate ( $list ) }}

    <div class="extra-pagination inner">
        {{ partial "pagination.html" $paginator }}
    </div>
    <div id="logo-banner" class="sponsor">
        <a href="https://mozzart.ba" target="_blank">
            <img src="/sponsor/mozzart_logo.svg" alt="Mozzart Logo">
        </a>
    </div>
    <div id="logo-banner">
        <a href="/contact">
		<img src="/dealer/wv.png" alt="Woody Valley Logo">
		<img src="/dealer/nearbirds.png" alt="Nearbirds Logo">
		<img src="/dealer/flow.png" alt="Flow Paragliders Logo">
		<img src="/dealer/charly.png" alt="Charly Finsterwalder Logo">
		<img src="/dealer/air3.png" alt="Air3 Logo">
        </a>
    </div>
    <br><h1 style='text-align: center;'>{{ $recent_art_text }}</h1>
    {{ range $index, $page := $paginator.Pages }}
        {{ partial "li.html" . }}
    {{ end }}

